[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-script = "*"
requests = "*"
gunicorn = "*"
pytest = "*"
flask = "==1.1.4"
markupsafe = "2.0.1"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.11"
